<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>ER Diagram</title>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>

        <script type="text/javascript" src="{{ asset("bundles/tbndoctrinerelationvisualizer/lib/jointjs/joint.js") }}"></script>
        <script type="text/javascript" src="{{ asset("bundles/tbndoctrinerelationvisualizer/lib/jointjs/joint.shapes.uml.js") }}"></script>
        <script type="text/javascript" src="{{ asset("bundles/tbndoctrinerelationvisualizer/js/erd.js") }}"></script>


        <link rel="stylesheet" type="text/css" href="{{ asset("bundles/tbndoctrinerelationvisualizer/css/visualizer.css") }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset("bundles/tbndoctrinerelationvisualizer/lib/jointjs/joint.min.css") }}" />
</head>
<body>
    <div id="erd" class="content-container">
      <h1>ER Diagrams</h1>
      <div id="paper" class="paper"/>
    </div>
</body>
</html>